{{!-- The footer at the very bottom of the screen --}}
<footer class="l-content-wrap c-site-footer">
	<div class="c-site-footer__content">
		<div class="c-site-footer__title">
			<a href="{{@blog.url}}">{{@blog.title}}</a> {{date format="YYYY"}}
		</div>

		<nav class="c-site-footer__social-media">
			<span class="h2">Let's Connect</span>
			{{#if @blog.facebook}}
				<a href="{{facebook_url @blog.facebook}}" target="_blank" rel="noopener" aria-label="Facebook">{{> "icons/facebook"}}</a>
			{{/if}}
			{{#if @blog.twitter}}
				<a href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener" aria-label="Twitter">{{> "icons/twitter"}}</a>
			{{/if}}
				<a href="" target="_blank" rel="noopener" aria-label="Instagram">{{> "icons/instagram"}}</a>
		</nav>
	</div>
</footer>
