{{#if feature_image}}
<a href="{{url}}" class="photo-card {{post_class}}">
	<h2 class="photo-card__title">{{title}}</h2>
	<img src="{{asset "images/blank.png"}}" data-src="{{feature_image}}" class="lozad post-card__image" alt="{{title}}">
</a>
{{/if}}
