<a href="{{url}}" class="c-post-card {{post_class}} {{#if feature_image}} js-photo-zoom {{/if}}">
	<div class="c-post-card__inner">
		{{#if feature_image}}
		<div class="c-post-card__media">
			<img
				src="{{asset "images/blank.png"}}"
				data-src="{{feature_image}}"
				alt="{{title}}"
				class="lazyload c-post-card__image js-photo-zoom__image"
			>
		</div>
		{{/if}}

		<div class="c-post-card__content">
			<h2 class="h2 c-post-card__title">{{title}}</h2>
			<p class="c-post-card__excerpt">{{excerpt words="33"}}</p>
			<div class="c-post-card__link">Read More</div>
		</div>
	</div>
</a>
