<header class="site-header">
	<div class="site-header-content">
		<h1 class="site-title">
			{{#if @blog.logo}}
			<img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" /> {{else}} {{@blog.title}} {{/if}}
		</h1>
		<nav class="site-nav">
			{{#if @blog.navigation}}
				{{navigation}}
			{{/if}}
		</nav>
	</div>
</header>
